
</div>

<div class=" foot">
    <div class="container ">
        <p>my name is victor</p>
        <p class="">Generating random paragraphs can be an excellent way for writers to get their creative flow going at the beginning of the day.</p>
        <p class="">Generating random paragraphs can be an excellent way for writers to get their creative flow going at the beginning of the day.</p>
        <p class="">Generating random paragraphs can be an excellent way for writers to get their creative flow going at the beginning of the day.</p>
        <p class="">Generating random paragraphs can be an excellent way for writers to get their creative flow going at the beginning of the day.</p>
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="/javascript/toggler.js"></script>
</body>
</html>