
<div class="navbar navbar-expand-lg navbar-light bg-light">
    <div>
        <button class="btn-blue">
            <a class="nav-link" href="add">AddMember</a>
        </button>
        <button class="btn-blue">
            <a class="nav-link " href="del">RemoveMember</a>
        </button>
    </div>
</div>