<%- include('./partials/header') -%>


<!--            <img src="http://nabeel.co.in/files/bootsnipp/gallery/10.jpg">-->
<div class="welcome">
    <div class="container">
        <h3 class="pageHeading">
            <%= tittle%>
        </h3>

        <img src="/images/bluish11.jpeg" class="img-fluid rounded">

        <p class="pageHeading">
            description : the schools sports club
        </p>

    </div>
    <p>
        Often in love, your feelings are strong, but your vocabulary isn’t. It’s tough as it is to process all the
        emotions, gearing the confidence to approach your loved one becomes even tougher. It’s challenging to articulate
        your feelings with the right set of words and emotions.

        In testing moments like these, love paragraphs come in handy to express your heart out in the best way possible.
        We have compiled a list of love paragraphs for you to put to good use in all situations.

    </p>
</div>

<div class="container gallery">
    <div class="row">
        <a href="/" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="/images/bluish10.jpeg" class="img-fluid rounded">
        </a>
        <a href="/" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="/images/bluish9.jpeg" class="img-fluid rounded">
        </a>
        <a href="/" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
            <img src="/images/bluish6.jpeg" class="img-fluid rounded">
        </a>
    </div>

</div>

<div>
    <a href="/about">
        <button class="btn btn-blue">
            load more ...
        </button>
    </a>
</div>

<div class="space">

</div>
<%- include('./partials/footer') -%>